
Tutorial 6 

Build Logistic Regression Model

Consider a coronary heart disease dataset (chd_data.csv) which lists the age in years
 ('age') and the presence/absence of evidence of significant coronary heart disease
  ('chd') for 100 patients.

The variable chd = 0 indicates the absence of coronary heart disease, whereas chd=1
 indicates the presence of coronary heart disease.

1. Import dataset and visualize the data to get an insight on building the model.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
chd = pd.read_csv("chd_data.csv")

In [5]:
chd

    age  chd
0    20    0
1    23    0
2    24    0
3    25    1
4    25    0
..  ...  ...
95   63    1
96   64    1
97   64    0
98   65    1
99   69    1

[100 rows x 2 columns]